:root {
  font-family: Arial, Helvetica, sans-serif;
  --text: #021418;
  --background: #fafefe;
  --primary: #1dc6e8;
  --secondary: #8f77f1;
  --accent: #9754ed;

  background-color: var(--background);
  color: var(--text);
}