.Person {
  background-color: var(--secondary);
  flex: 1 1 100px;
  margin: 10px;

  & div.imageAndName {
    position: relative;

    & img {
      width: 100%;
      position: relative;
    }

    & p {
      position: absolute;
      top: 0;
      padding: 5px;
      margin: 0;
      font-size: 1.5em;
      width: 100%;
      text-align: center;
      background: linear-gradient(var(--background), rgba(255, 255, 255, 0));
    }

    & p.delete {
      left: 0;
      text-align: left;
    }

  }

  & div.details {
    & div {
      & p {
        margin: 0 10px 0 10px;
        padding: 0;
      }

      & p:first-of-type {
        text-transform: uppercase;
        font-weight: bold;

        & ::after {
          content: ":";
        }
      }
    }
  }
}